/* write your override styles here */
#wall .tag-1{
  display:none;
}
div#wall div#tag-2{
  display:none;
}
div#wall


#wall .parent #tag-4{
  display:none;
}
 /* positive that tag-4 is correct as it removed the tag automatically  */ 

#wall .parent  #tag-5{
  display:none;
}